

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background: #e5e5e5;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  position: relative;
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
}

.main {
  margin: auto;
  display: flex;
  width: 800px;
  justify-content: space-between;
}

.box {
  background: #fff;
  padding: 20px;
  box-sizing: border-box;
  min-width: 300px;
  min-height: 190px;
  text-align: center;
  border-radius: 3px;
  border: solid 1px #e5e5e5;
}

h2 {
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 20px;
  transform: translateY(-62px);
  font-weight: bolder;
  color: #0c1629;
}

button {
  border: none;
  background: #0a0819;
  padding: 14px 15px;
  font-size: 15px;
  border-radius: 2px;
  margin-bottom: 19px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}
button:focus {
  outline: none;
}

.box h3 {
  font-size: 14px;
  color: #dc7441;
}